body {
 margin: 0;
 padding: 0;
}
.section-wrapper {
 width: 1600px;
 margin: 0;
}
/*section-1_ft + header*/
#header {
 display: flex;
 flex-direction: row;
 background-color: #283035;
 color: #FDFDFF;
}
.navigation-list {
 display: flex;
 flex-direction: row;
 list-style-type: none;
}
.navigation-link {
 text-decoration: none;
 display: block;
 margin-left: 63px;
 padding-top: 14px;
 font-family: "Roboto";
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 color:#ffffff;
}
.navigation-link_colored {
 color: #fe9013;
}
.navigation-link:hover {
 padding: 3px 0px;
 border: 1px solid #d31414;
}
.logo-footer {
 display: block;
 width: 82px;
 height: 52px;
 border: 1px solid #FDFDFF;
 margin-top: 14px;
 margin-left: 220px;
 font-size: 19px;
 line-height: 23px;
 font-family: "Roboto";
 font-weight: 400;
 text-align: center;
}
.header-copyright {
 margin-left: 341px;
}
#section-1_ft {
 position: relative;
 width: 1600px;
 height: 780px;
 background-image: url("../../assets/images/panda.png");
}
.heading-first-section {
 position: absolute;
 width: 500px;
 height: 400px;
 margin: 166px 220px 214px 840px;
 font-family: "Roboto";
 font-weight: 700;
 font-size: 106px;
 line-height: 80px;
 color: #ffffff;
 text-align: center;
 z-index: 2;
 text-transform: uppercase;
}
.span-favorite {
 color:#ffee2e;
}
.ellipse-first-section-div {
 width: 465px;
 height: 465px;
 position: absolute;
 margin: 92px 328px 223px 807px;
 z-index: 1;
}
.btn-1 {
 position: absolute;
 width: 298px;
 height: 54px;
 margin: 626px 319px 100px 983px;
 background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 border-radius: 25px;
 font-family: "Roboto";
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 color: #ffffff;
 text-transform: uppercase;
}
/*section-2*/
.section-2-wrapper {
 display: flex;
 justify-content: space-between;
 padding: 140px 220px 200px 219px;
 padding-top: 140px;
 padding-left: 219px;
}
.heading-2 {
 padding-left: 12px;
 font-family: "Roboto";
 font-weight: 400;
 font-size: 48px;
 line-height: 58px;
 color: #333b41;
 margin-top: -10px;
}
.section-2-text {
 padding-left: 12px;
 font-family: "Roboto";
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 color: #333b41;
}
.heading-3 {
 padding-left: 12px;
 font-family: "Roboto";
 font-weight: 400;
 font-size: 24px;
 line-height: 29px;
 color: #333b41;
}
.section-2-image {
 width: 609px;
 height: 403px;
}
.section-2-content {
 width: 465px;
}
.flower1 {
 width:293px;
 height: 605px;
 margin-right: 220px;
 margin-top: -150px;
}
/*section-3_animals_card*/

/*bg_section4_pick-and-feed*/
/*5-st_section*/
/*footer*/