body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333b41;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: #FDFDFF;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  display: block;
  margin-left: 63px;
  padding-top: 14px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navigation-link_colored {
  color: #fe9013;
}

.logo {
  margin-top: 14px;
  margin-left: 220px;
  margin-bottom: 14px;
  display: block;
  width: 82px;
  height: 52px;
  border: 1px solid #FDFDFF;
  font-size: 19px;
  line-height: 23px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.header-copyright {
  margin-left: 341px;
}
/*main*/
.main {
  padding-bottom: 200px;
  /*copied background gradient code from figma*/
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}
.heading-main {
  margin-left: 200px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}
.main-text {
  margin-left: 200px;
}
.donate {
  margin: 78px 312px 42px 200px;
  padding: 40px 92px 62px 92px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
.donate-text {
  padding-left: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333b41;
}

.heading-3 {
  text-align: center;
  padding-left: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fe9013;
}
.four {
  display: inline-block;
  font-weight: 700;
  font-size: 800%;
  padding-right: 200px;
}
.panda-icon {
  width: 30%;
  margin-bottom: -25px;
}
/*footer*/
#footer {
  width: 1600px;
  height: 443px;
  color: #ffffff;
  background-color: #000000;
}

.footer-wrapper {
  padding: 100px;
  width: 998px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-middle-content {
  align-self: flex-end;
}

.social-media-icons {
  list-style-type: none;
  margin-left: -40px;
}

.info-about-designer {
  margin-top: 110px;
}

#email {
  width: 50%;
}

/*all buttons*/
.btn_donate {
  text-transform: uppercase;
}

/*interactivity*/
.logo:hover {
  color: #fe9013;
}

.navigation-link:hover {
  padding: 3px 0px;
  cursor: pointer;
  border: 1px solid #d31414;
  color: #fe9013;
}

.btn_donate:hover {
  color: #fe9013;
  padding: 2px 0px;
  text-transform: lowercase;
  cursor: pointer;
  text-decoration: underline;
}
